#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu li {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #333;
}

.dropdown-menu li:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@media screen and (min-width: 992px) {
  body {
    font-size: 18px;
  }
  .container {
    /* width: 960px; */
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 16px;
  }
  .container {
    /* width: 768px; */
    margin: 0 auto;
  }
}

/* Smartphone styles */
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 100%;
    margin: 0;
  }
}